<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homeworkandroid">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeWorkAndroid">
        <activity
            android:name=".homework007.activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".homework007.activity.Exercises003"
            android:exported="false" />
        <activity
            android:name=".homework007.activity.Exercises002"
            android:exported="false" />
        <activity
            android:name=".homework007.activity.Exercises001"
            android:exported="false" />
        <activity
            android:name=".homework007.MainActivityHW007"
            android:exported="false" />
        <activity
            android:name=".homework006.activity.DetailRequestActivity"
            android:exported="false" />
        <activity
            android:name=".homework006.activity.Exercises001"
            android:exported="false" />
        <activity
            android:name=".homework006.MainActivityHW006"
            android:exported="false" />
        <activity
            android:name=".homework005.activity.DBBookAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".homework005.MainActivityHW005"
            android:exported="false" />
        <activity
            android:name=".homework004.activity.TVShopEditActivity"
            android:exported="false" />
        <activity
            android:name=".homework004.activity.TVShopAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".homework004.MainActivityHW004"
            android:exported="false" />
        <activity
            android:name=".homework004.LoginPage"
            android:exported="false" />
        <activity
            android:name=".homework003.activity.ShipActivity"
            android:exported="false" />
        <activity
            android:name=".homework003.adapters.AnimalAdapter"
            android:exported="false" />
        <activity
            android:name=".homework003.activity.ShipAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".homework003.activity.AnimalAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".homework003.MainActivityHW003"
            android:exported="false" />
        <activity
            android:name=".homework002.activity.ShipActivity"
            android:exported="false" />
        <activity
            android:name=".homework002.activity.AnimalActivity"
            android:exported="false" />
        <activity
            android:name=".homework002.activity.Exercises002"
            android:exported="false" />
        <activity
            android:name=".homework002.activity.Exercises001"
            android:exported="false" />
        <activity
            android:name=".homework001.activity.Exercises001"
            android:exported="false" />
        <activity
            android:name=".homework001.activity.Exercises002"
            android:exported="false" />
        <activity
            android:name=".homework001.MainActivityHW001"
            android:exported="false" />
        <activity
            android:name=".homework002.MainActivityHW002"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".homework005.db.BookProvider"
            android:authorities="com.example.homeworkandroid.homework005.db.BookProvider"
            android:exported="false" />
    </application>

</manifest>